* {
  top: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
}

.App {
  text-align: center;
}

h1:hover {
  color: #00ff78;
  transform: scale(1.3);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.taskBg {
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px, 140px, 10px, 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNo {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskTxt {
  flex: 1;
}

.taskBg .done .taskTxt {
  text-decoration: line-through;
  opacity: 0.4;
  flex: 1;
}

.taskTxt {
  font-size: 20px;
  padding: 0.7rem;
}

.iconswrap {
  position: absolute;
  top: 50%;
  right: 20px;
  width: auto;
  transform: translateY(-50%);
  display: inline-block;
}

.taskBg .iconswrap span {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: #00ff78;
}

.taskBg .iconswrap span:hover {
  color: yellow;
  transform: scale(1.2);
}

.my-form {
  padding: 10px;
  margin-bottom: 10px;
}

.my-btn {
  margin-left: 10px;
}